<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="AcademicAssessment.StudentApp.styles.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"
        integrity="sha384-+qdLa3QOkcoWl7RDddG9lJmZlVJkqCg+1Y4Z1cdq9VHt3e6C0BpvyEukgqS0bK1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css"
        integrity="sha512-BiV9pTmvGT5BjR5UT5ZoqAbKp+0W70Thg7CEen66bafPF5LmVXkNjEcNWJko42sAYDCLu7saEh1PQuPgzpT+/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"
        integrity="sha384-SuDr86XDBlnJr2d6Sm+3/3EPvSFdkC5mMt2rtI8BGG99nmHn7+PBkO5RA/qsl6wV"
        crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js"
        integrity="sha384-NGi3H1xgO8k7mX3oGNpFwGTysPcTsbgArKNm0MwW8ov8bk8fHVhkHE5T1Zd3nJXA"
        crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"
        integrity="sha512-yAYxmsGWSPTZXxZzxt0sYjH3iH6AzdMGRHeduXrqhoJaCjVwSz8w7kdu+8+uOn83rs3qxEtp7O+NaWcGzVk6eA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="js/assessment-ui.js"></script>
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>